body {
    font-family: 'Mulish', sans-serif;
    font-size: 14pt;
    height: 100%;
}

.top-0 {
    background: linear-gradient(to bottom right, #0B2A5C,  #0B0C23);
}

.navbar-nav > li {
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-toggler
{
    width: 70px;
    height: 40px;
    margin-top: 10px;
}

.menu
{
    height: 90%;
    width: 60%;
}

.nav-item
{
    color: #ffffff;
    font-weight: normal;
}

.btn-nav .btn-primary
{
    background: transparent;
    border: 2px solid white;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 2px;
    border-radius: 100px;
    width: 120%;

}
@media only screen and (max-width: 600px) {
    .btn-nav .btn-primary
    {
        display: none;
    }

}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.flex-child {
    flex: 1;

}

.flex-child.col1 {
    position:relative;
    margin-left: 150px;
}


.flex-child.col1 h2 {
    font-size: 48pt;
    font-weight: 100;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.flex-child.col1 p {
    font-size: 12pt;
    color: #ffffff;
    padding-bottom: 10px;
}


button {
    width: 190px;
    height: 60px;
    border: none;
    padding-bottom: 10px;
    padding-top: 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to bottom, #F0598F, #F3676F);
    border-radius: 100px;
    cursor: pointer;
    font-size: 16pt;
    font-weight: bold;
    margin-top: 50px;
}

.flex-child.col2 {
    position: relative;
    margin-top: 100px;
    margin-right: 50px;
}

/*Responsive for First div*/
@media only screen and (max-width: 600px) {

    .flex-child.col1 {
        position: relative;
        margin-left: 20px;
    }

    .flex-child.col1 h2 {
        font-size: 40pt;
        font-weight: 100;
        color: #ffffff;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .flex-child.col1 p {
        font-size: 12pt;
        color: #ffffff;
        padding-bottom: 10px;
    }

    #Our-Services {
        width: 190px;
        height: 60px;
        border: none;
        padding-bottom: 10px;
        padding-top: 10px;
        outline: none;
        color: #fff;
        background: linear-gradient(to bottom, #F0598F, #F3676F);
        border-radius: 100px;
        cursor: pointer;
        font-size: 14pt;
        font-weight: bold;
        margin-top: 50px;
        margin-bottom: 80px;

    }

    .flex-child.col2 {
        display: none;
    }
}

.row-2 {
    text-align: center;
    margin-top: 150px;
}


#row-2-p {
    color: #F170A3;
    padding: 10px;
    font-weight: bold;

}

#row-2-h {
    padding: 5px;
    font-size: 40pt;
    color: #243056;
}

#row-3 {
    text-align: center;
    margin-bottom: 50px;
}

.Icon {
    width: 20%;
    height: 20%;
    margin-top: 100px;

}

.text-container {
    padding: 20px;
    margin-top: 50px;

}

.Icon-heading {
    font-weight: bold;
    font-size: 18pt;
    margin-bottom: 30px;
    color: #243056;
}

#Business-Fast {
    background-color: #F0F0F0;
    max-width: 100%;
}

#row-4 {
    text-align: center;
}

#column-Picture {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 25px;

}

#column-Text, #column2-Text {
    text-align: left;
}

.cloud-image-picture {
    width: 40%;
    height: 40%;
    margin-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#text-heading-grow {
    margin-top: 100px;
    /*border: 2px solid yellow;*/
    padding: 0px 20px 0px;
    margin-left: 80px;
}

#text-heading-grow > h3 {
    font-size: 34pt;
    font-weight: bold;
    text-align: left;
    color: #243056;

}

#Cloud-img-text {

    margin-left: 20px;
    float: left;
}

#col-1-cloudtext, #col-2-cloudtext {

    padding-top: 20px;
    padding-bottom: 20px;
}

.col-cloudtext-h4 {
    font-weight: bold;
    color: #243056;
}

#Learn-More-button {
    margin-left: 120px;
}

/*Responsive for Grow Business Fast*/

@media only screen and (max-width: 600px){

    #column-Picture {
        margin-top: 100px;
        margin-bottom: 100px;

    }
    #column-Picture img
    {
        width: 100%;
        height: 100%;
        padding-left: 30px;
    }

    #text-heading-grow {
        margin-top: 50px;
        padding-bottom: 20px;
        margin-right: 60px;
    }

    #text-heading-grow > h3 {
        font-size: 30pt;
        font-weight: bold;
        text-align: center;
        color: #243056;


    }

    #column-Text, #column2-Text {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #Cloud-img-text {
        margin-right: 10px;

    }

    .cloud-image-picture
    {
        margin-right: 85px;
    }


    .col-cloudtext-h4 {
        font-weight: bold;
        color: #243056;
    }

    #Learn-More-button {

        margin-right: 100px;
        margin-bottom: 50px;
    }

}

.div-outer {
    background: linear-gradient(to bottom right, #0B0C23, #0B2A5C);
}


.Industry-col > h2 {
    color: white;
    font-size: 34pt;
}

.Industry-col > h6 {
    font-size: 12pt;
    color: #F170A3;
    font-weight: bold;
    margin-top: 180px;
    margin-bottom: 50px;
}

.Industry-col > p {
    font-size: 15pt;
    color: white;
    font-weight: lighter;
    margin-top: 260px;
    text-align: left;
    margin-right: 20px;
    margin-left: 50px;
}


.Icons-Service {
    width: 280px;
    height: 280px;
    border: 2px solid #4f5050;
    color: white;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;

}

.Icons-Service > h4 {
    font-size: 16pt;
    font-weight: bold;
}

.Icons-Service-Images {
    height: 40%;
    width: 40%;
    margin: 30px;

}

.Support-Tech {
    color: white;
    font-size: 22pt;
    text-align: center;
    padding-bottom: 100px;
}

.Support-Tech > h6 {
    font-weight: bold;
}

/*Responsive  Industries we serve*/
@media only screen and (max-width: 600px){

    .Industry-col > h2 {
        color: white;
        font-size: 30pt;
        text-align: center;
    }

    .Industry-col > h6 {
        font-size: 12pt;
        color: #F170A3;
        font-weight: bold;
        margin-top: 100px;
        margin-bottom: 50px;
        text-align: center;
    }

    .Industry-col > p {
        font-size: 16pt;
        color: white;
        font-weight: lighter;
        margin-top: 80px;
        text-align: center;
        padding-right: 20px;
        margin-right: 30px;
    }


    .Icons-Service {
        width: 400px;
        height: 200px;
        border: 2px solid #4f5050;
        color: white;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 30px;
        padding-bottom: 60px;

    }

    .Icons-Service > h4 {
        font-size: 16pt;
        font-weight: bold;
    }

    .Icons-Service-Images {
        height: 55%;
        width: 20%;
        margin: 30px;

    }

    .Support-Tech {
        color: white;
        font-size: 22pt;
        text-align: center;
        padding-bottom: 100px;
        padding-top: 70px;
    }

    .Support-Tech > h6 {
        font-weight: bold;
    }


}

.Partner-Business-Top {
    text-align: center;
    margin-top: 150px;

}

.Partner-Business-Top > h2 {
    font-size: 46pt;
    padding-bottom: 50px;
    color: #243056;
}

.Partner-Business-Top > p {

    font-size: 18pt;
    padding: 50px;
}

#Request-a-Quote {
    background: transparent;
    border: 2px solid #F170A3;
    color: #F170A3;
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
    font-weight: normal;
    font-size: 14pt;

}

#Quote-Button {

    text-align: center;
    padding-bottom: 100px;
}

.Digits-Col > h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 50pt;
    color: #243056;
    padding: 0px 50px;

}

.Digits-Col > p {
    text-align: center;
    font-weight: lighter;
    font-size: 14pt;
    padding: 30px 150px;
}

#digits-column-outer-div {
    padding-bottom: 80px;
    border-bottom: 1px solid lightgrey;
}

.Cards-heading > h1 {
    color: #243056;
    font-size: 40pt;
    text-align: center;
    padding-top: 100px;
    font-weight: bold;
    padding-bottom: 50px;
}

#image-container1, #image-container2, #image-container3 {
    padding: 30px 15px 0;
    position: relative;
    text-align: center;
    color: white;
}

.cards-image {
    paddi

    opacity: 0.7;
    filter: brightness(50%);
}

.cards-heading-h3 {
    padding: 20px 30px 200px;
    font-size: 18pt;
    font-weight: bold;
    color: #243056;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -20%);
}

.centered > h6 {
    font-size: 30pt;
    font-weight: bold;
}

@media only screen  and (max-width: 600px){

    .Cards-heading > h1 {
        color: #243056;
        font-size: 36pt;
        text-align: center;
        padding-top: 100px;
        font-weight: bold;
        padding-bottom: 10px;
    }

    #image-container1, #image-container2, #image-container3 {
        padding: 30px 15px 0;
        position: relative;
        text-align: center;
        color: white;
    }

    .cards-image {

        opacity: 0.7;
        filter: brightness(50%);
    }

    .cards-heading-h3 {
        padding: 10px 40px 20px;
        font-size: 18pt;
        font-weight: bold;
        color: #243056;
        text-align: center;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -20%);
    }

    .centered > h6 {
        font-size: 30pt;
        font-weight: bold;
    }
}

.Final-video {
    max-width: 100%;
    height: auto;
    filter: brightness(50%);
}

.video-container {
    position: relative;
    text-align: center;
}

#play-button {
    height: 250px;
    width: 250px;
    padding: 60px;
    margin-top: 100px;
}

.video-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
}

.video-centered > h1 {
    font-weight: bold;
    color: white;
    padding-bottom: 10px;
}

#Get-Started-Now {

    width: 220px;
    height: 60px;
    border: none;
    padding-bottom: 10px;
    padding-top: 10px;
    outline: none;
    color: #F0598F;
    background: white;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16pt;
    margin-top: 50px;

}

@media only screen and (max-width: 600px){

    .Final-video {
        width: 600px;
        height: 600px;
        filter: brightness(50%);
        object-fit: cover;
    }

    .video-container {
        position: relative;
        text-align: center;
    }

    #play-button {
        height: 200px;
        width: 200px;
        margin-top: 100px;
    }

    .video-centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .video-centered > h1 {
        font-weight: bold;
        color: white;
        padding-bottom: 10px;
        font-size: 22pt;
    }

    #Get-Started-Now {

        width: 200px;
        height: 50px;
        border: none;
        padding-bottom: 10px;
        padding-top: 10px;
        outline: none;
        color: #F0598F;
        background: white;
        border-radius: 100px;
        cursor: pointer;
        font-size: 14pt;
        margin-top: 50px;
        margin-bottom: 100px;

    }

}

Footer
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#footer-container {
    max-width: 1170px;
    margin: auto;
}

#footer-row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background: linear-gradient(to bottom right, #0B2A5C, #0B0C23);
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}


.footer-col p {
    font-size: 16px;
    color: #ffffff;
    text-transform: capitalize;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 10px;
    font-weight: 500;
    position: relative;
}

#contact_at {
    padding-top: 46px;
}

.footer-col h3 {
    font-size: 16pt;
    color: #ffffff;
    font-weight: bolder;
    position: relative;
    padding: 10px 0;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
    padding: 5px;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

#Newsletter-p {
    padding: 5px 0;
    font-weight: lighter;
}

#Email {
    width: 100%;
    border: 1px solid grey;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 8px 10px;
    outline: none;
    color: white;
    background: transparent;
    cursor: pointer;
    text-align: center;
    font-size: 14pt;
    transition: width 0.5s;
    height: 15%;


}

#Button-Image {
    width: 10%;
    height: 100%;
    float: right;
    display: none;
}

#Email:hover img {
    display: block;
}

#Email:hover {
    width: 110%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/*responsive*/
@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

@media only screen and (max-width: 600px)
{
    #Email {
        width: 80%;
        border: 1px solid grey;
        margin-top: 20px;
        margin-bottom: 30px;
        padding: 8px 10px;
        outline: none;
        color: white;
        background: transparent;
        cursor: pointer;
        text-align: center;
        font-size: 14pt;
        transition: width 0.5s;
        height: 15%;
    }
    #Button-Image {
        width: 10%;
        height: 100%;
        float: right;
        display: none;
    }

    #Email:hover img {
        display: block;
    }

    #Email:hover {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .footer-col .social-links a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255, 255, 255, 0.2);
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
        margin: 0 10px 10px 0;
    }
}